body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    padding: 40px 20px 20px;
    margin-bottom: 40px;
    text-align: left;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    flex: 1;
}

header p {
    margin: 0 0 20px 0;
}

header .github-link {
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header .github-link:hover {
    background-color: #e0e0e0;
}

main {
    padding: 0 20px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.item {
    width: 22%;
    margin: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    background: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item img {
    max-width: 100%;
    height: auto;
}

.item h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.item p {
    font-size: 0.9em;
    color: #666;
}

.item a {
    text-decoration: none;
    color: black;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}
.scroll-to-top:hover {
    background-color: #555;
}
