---
layout: default
title: Top 4 Indonesian Bank Analysis & Dashboard
permalink: /projects/top-4-indonesian-bank/
---
<p>This project is a team project from my [MSIB]DS&AI course by Startup Campus and me as The Project Leader.</p>

<strong>DISCLAIMER</strong>
<i>The final project results are only a learning tool and do not display actual value. It should not be used as a raw recommendation.</i>

<h1>Top 4 Indonesian Bank Analysis</h1>
<p>The dataset used for this analysis is obtained from Startup Campus's Mentor. The provided folder contains several datasets for each bank. Below is an explanation of each:
<ul>
    <li><strong>Balancesheet</strong>: Contains yearly company information such as Share Issued, Total Debt, Tangible Book Value, Net Tangible Assets, and more.</li>
    <li><strong>Cashflow</strong>: Contains yearly data on the company's cash flow.</li>
    <li><strong>Corp_actions</strong>: Contains information on the dates corporate actions were taken, including stock splits and dividend distributions.</li>
    <li><strong>Historical_value</strong>: Contains daily information on stock prices and trading volumes.</li>
    <li><strong>Income_stat</strong>: Contains information on the company's Net Income.</li>
    <li><strong>Key_stat</strong>: Contains current information on the company's valuation.</li>
</ul>

<p>We decided to use 4 top banks in Indonesia: <strong>Bank A, Bank B, Bank C, Bank D</strong></p>

<p>Our analysis consists of the following sections:</p>
<ul>
    <li><strong>Business Understanding</strong>: Bussiness Problem, Goals, Solutioning.</li>
    <li><strong>Data Understanding</strong>: Data Information, Pattern Discovery.</li>
    <li><strong>Data Preprocessing</strong>: Data Cleaning, Transformasi Data, Dimentionality Reduction, Data Splitting.</li>
    <li><strong>EDA (Exploratory Data Analysis)</strong>: Historical Value Graph, Descriptive Statistics.</li>
    <li><strong>Feature Engineering</strong>: Creation of four features that correlate with business goals.</li>
    <li><strong>Modeling</strong>: Baseline Model, Hyperparamter Tuning, Evaluation Metrics, One-year Forecasting.</li>
    <li><strong>Insight</strong>: Insights from the analysis of each bank.</li>
    <li><strong>Business Recomendation</strong>: Recommendations based on the analysis goals.</li>

</ul>

<div class="carousel-container">
    {% for i in (1..35) %}
    <div class="carousel-slide {% if i == 1 %}active{% endif %}">
        <img src="{{ '/images/bankcarousel/Slide' | append: i | append: '.PNG' | relative_url }}" alt="Slide {{ i }}">
    </div>
    {% endfor %}
</div>

<div class="carousel-controls">
    <button id="prevBtn" onclick="navigateCarousel(-1)">Prev</button>
    <button id="nextBtn" onclick="navigateCarousel(1)">Next</button>
</div>

<h1>Top 4 Indonesian Bank Analysis Interactive Dashboard</h1>

<h2>Feature Selection</h2>
In the interactive dashboard, I used several features including:

<h3>Dimension</h3>
<ul>
    <li><strong>Date</strong></li>
    <p>Show historical data from 2014 until 2024, other feature from 2021 until 2023, and as a filter.</p>
</ul>

<h3>Metric</h3>
<ul>
    <li><strong>Close Stock Price</strong></li>
    <p>Shows each bank the closing stock price day by day from 2014 to 2024.</p>
    <li><strong>Open Stock Price</strong></li>
    <p>Shows each bank the opening stock price day by day from 2014 to 2024.</p>
    <li><strong>Stock Volume</strong></li>
    <p>Show each bank stock volume day by day from 2014 to 2024.</p>
    <li><strong>Stock Return</strong></li>
    <p>Show each bank return day by day from 2014 to 2024</p>
    <li><strong>Volatilty Value</strong></li>
    <p>Show each bank volatilty value per year from 2021 to 2023.</p>
    <li><strong>Current Ratio</strong></li>
    <p>Show each bank current ratio per year from 2021 to 2023.</p>
    <li><strong>Debt to Equity Ratio</strong></li>
    <p>Show each debt to equity per year from 2021 to 2023.</p>
    <li><strong>Net Profit Margin</strong></li>
    <p>Show each bank net profit margin per year from 2021 to 2023.</p>
</ul>

<p>The following link directs you to the interactive Looker Dashboard where you can explore the visualizations and insights derived from the data: <a href="https://lookerstudio.google.com/reporting/551d2105-ac34-444c-8f48-68630e5df783" target="_blank">Looker Dashboard</a><br></p>

<a href="{{ '/' | relative_url }}">Back to portfolio</a>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

<!-- Custom JS for Carousel -->
<script>
    const slides = document.querySelectorAll('.carousel-slide');
    let currentIndex = 0;

    function showSlide(index) {
        slides.forEach((slide, i) => {
            if (i === index) {
                slide.classList.add('active');
            } else {
                slide.classList.remove('active');
            }
        });
    }

    function navigateCarousel(direction) {
        currentIndex = (currentIndex + direction + slides.length) % slides.length;
        showSlide(currentIndex);
    }
</script>